---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ ansible_default_ipv4.address }}"
  bindPort: {{ control_plane_endpoint_port }}
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"
  name: "{{ inventory_hostname }}"
  taints:
    - key: "node-role.kubernetes.io/control-plane"
      effect: "NoSchedule"
certificateKey: "{{ certificate_key }}"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "v{{ k8s_version }}"
controlPlaneEndpoint: "{{ control_plane_endpoint }}:{{ control_plane_endpoint_port }}"
networking:
  podSubnet: "{{ pod_cidr }}"
  serviceSubnet: "{{ service_cidr }}"
  dnsDomain: "{{ dns_domain }}"
apiServer:
  certSANs:
    - "{{ control_plane_endpoint }}"
    - "{{ ansible_default_ipv4.address }}"
    - "{{ inventory_hostname }}"
    - "127.0.0.1"
    - "localhost"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
containerRuntimeEndpoint: "unix:///var/run/containerd/containerd.sock"
